= content_for :app_body do
  %h2 Locations
  This app will generate a file for exactly what should be in your machine's customer inventory location, assuming that your vending website's machine counts and usage is correct. This app needs you to provide the begin date and time for your billing cycle, which you can find on the "create invoice" popup screen. When you're ready to use the file, first free any inventory related to that machine by dumping the customer inventory location into a floor location, and delete any work orders holding machine inventory off the pick list. Then "merge parts to quote" with this file, and allocate inventory to the quote by sold requesting all items. If anything is backordered, consider whether the vending website is wrong or if your store inventory is wrong. The former can happen if the someone is reporting absurb usage to your locker, and you just adjust the quoted quantities to more reasonable values if this is the case. If it's the latter, delete the backordered off the sold request screen, refresh the quote, cycle in the necessary inventory, and try again. Once all line items successfully allocate to the quote, move the inventory to your customer inventory location via the "move to location" button on your pick list.
  %p
  - if session[:customers].present?
    = form_tag '/apps/locations' do
      = select_tag :customer_id, options_for_select(session[:customers].collect { |key, sub_hash| [sub_hash['siteName'], key]}, :selected => flash[:selected]), :class => 'fast_submit', :prompt => 'Select a customer'
      = submit_tag 'Find machines', :class => 'hide_if_JS'
      - if flash[:machines].present?
        = form_tag '/apps/locations' do
          = select_tag :machine_id, options_for_select(flash[:machines].collect { |key, sub_hash| [sub_hash['deviceName'], key]}), :prompt => 'Select a machine'
          = text_field_tag :begin_date, nil, :placeholder => 'Begin date', :class => 'datepicker'
          = text_field_tag :begin_time, nil, :placeholder => 'Begin time', :class => 'timepicker'
          = submit_tag 'Make file'
  - if @report.present?
    = text_area_tag :report, @report, :rows => (@report.scan(/\n/).length + 1)
